.sidebar
  width: 50%
  background-color: #ececec
  height: calc(100vh - 68px)
  overflow-y: scroll
  @media (width >= 480)
    width: 20%
  &::-webkit-scrollbar
    mix-blend-mode: normal
    opacity: 0.23
  &::-webkit-scrollbar-thumb
    background-color: rgba(0, 0, 0, 0.04)
    border-radius: 7px
  &__list
    list-style: none
    font-weight: bold
    padding: 20px
    &-item
      cursor: pointer
      margin-bottom: 10px
      padding: 10px
      border-radius: 8px
      background-color: #b7b4b7
    &-title
      font-size: 14px
      line-height: 14px
      @media (width >= 768px)
        font-size: 22px
        line-height: 28px
        letter-spacing: 0.35px
        color: #000
        word-wrap: break-word
    &-date
      font-size: 12px
      color: grey

.sidebar__list-item.active
  background: #e0e0e0
